@import "./common.css";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  padding: 24px;
  width: 100%;
  height: 100%;
  margin: 0;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: flex-start;
}

#canvas-container {
  position: relative;
  flex: 1;
}

#webgpu-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#gui-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}
